[submodule "wildfly-domain-management/asciidoctor-backends"]
	path = wildfly-domain-management/asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "wildfly-domain-management/src/main/slides/dzslides/dzslides"]
	path = wildfly-domain-management/src/main/slides/dzslides/dzslides
	url = https://github.com/mojavelinux/dzslides.git
[submodule "docker-introduction/asciidoctor-backends"]
	path = docker-introduction/asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "docker-introduction/src/main/slides/dzslides/dzslides"]
	path = docker-introduction/src/main/slides/dzslides/dzslides
	url = https://github.com/mojavelinux/dzslides.git
[submodule "maven-dos-donts/asciidoctor-backends"]
	path = maven-dos-donts/asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "maven-dos-donts/src/main/slides/dzslides/dzslides"]
	path = maven-dos-donts/src/main/slides/dzslides/dzslides
	url = https://github.com/mojavelinux/dzslides.git
